<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.souillard"
    android:versionCode="3"
    android:versionName="1.0.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name=".Activities.DataBaseActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activities.ChooseListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activities.LearningMotsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activities.LearningVerbsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activities.EvaluationActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activities.ChooseActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activities.LearningModelActivity"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".Activities.ParamsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activities.StatsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activities.GameOneActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Activities.GrammarExerciceActivity"
            android:screenOrientation="portrait"></activity>

        <receiver android:name=".Notifications.NotificationsReceiver"
                    android:enabled="true"
            android:exported="true"></receiver>
        <service
            android:name=".Notifications.NotificationsService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
    </application>

</manifest>